{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="{{asset('css/index.css')}}" rel="stylesheet">
{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block main %}
<main class="main">

    {{ include('index/slide.html.twig') }}

    {{ include('index/hero.html.twig') }}

    {{ include('block/featured.html.twig') }}

    {{ include('block/about.html.twig') }}

    {{ include('block/services.html.twig') }}

    {{ include('block/call.html.twig') }}

    {{ include('block/features.html.twig') }}

    {{ include('block/news.html.twig') }}

    {{ include('block/map.html.twig') }}

    {{ include('block/faq.html.twig') }}

  </main>
{% endblock %}

{% block javascript %}
{% endblock %}
