{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="{{asset('css/news.css')}}" rel="stylesheet">
{% endblock %}

{% block main %}
<main class="main">
    {{ include('block/hero.html.twig') }}

<div class="news py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 news-list">
        {% for n in nodes %}
        <div class="col news-item">
          <div class="card shadow-sm">
            {% if n.image %}
            <img src="{{ asset("images/#{n.image}") }}">
            {% else %}
            <div class="bg-secondary d-flex justify-content-center align-items-center p-3" style="height: 225px">
              <div class="text-light">{{ n.title }}</div>
            </div>
            {% endif %}
            <div class="card-body">
              <p class="card-text">{{ n.title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{ path('app_node_show', {nid: n.id}) }}">
                  <button type="button" class="btn btn-sm btn-outline-secondary">查看详情</button>
                  </a>
                </div>
                <small class="text-body-secondary">2024/10/10</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

  {{ include('block/pagination.html.twig') }}
</div>


</main>
{% endblock %}

{% block javascript %}
{% endblock %}
