{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block main %}

<main class="main">
    {{ include('block/hero.html.twig') }}

    {{ include('block/about.html.twig') }}

    {{ include('block/stats.html.twig') }}

    {{ include('block/team.html.twig') }}

    {{ include('block/map.html.twig') }}

    {{ include('block/arch.html.twig') }}

  </main>
{% endblock %}

{% block javascript %}
{% endblock %}
