{% set route = app.request.get('_route') %}
{% set route_params = app.request.get('_route_params') %}
{% if 'regionLabel' not in route_params|keys %}
{% set route_params = route_params|merge({'regionLabel': ''}) %}
{% endif %}
{#
{% set route = app.request.attributes.get('_route') %}
#}

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="{{ path('app_index') }}" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">湖北大同保险经纪有限公司</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{ path('app_index') }}" class="{{ route == 'app_index' ? 'active' }}">首页<br></a></li>
          <li><a href="{{ path('app_about') }}" class="{{ route == 'app_about' ? 'active' }}">关于我们</a></li>
          <li class="dropdown"><a href="#" class="{{ route == 'app_services' ? 'active' }}"><span>产品中心</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="{{ path('app_services') }}">产品服务</a></li>
              <li><a href="{{ path('app_node_show', {nid: 40})}}">业务中心</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#" class="{{ route_params['regionLabel'] == 'news' ? 'active' }}"><span>资讯中心</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="{{ path('app_nodes_region', {regionLabel: 'news'}) }}">公司新闻</a></li>
              <li class="dropdown"><a href="#"><span>公告通知</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="{{ path('app_nodes_region', {regionLabel: 'meeting'}) }}">会议纪要</a></li>
                  <li><a href="{{ path('app_nodes_region', {regionLabel: 'xiazai'}) }}">下载中心</a></li>
                </ul>
              </li>
              <li><a href="{{ path('app_nodes_region', {regionLabel: 'jituan'}) }}">集团新闻</a></li>
              <li><a href="{{ path('app_nodes_region', {regionLabel: 'hangye'}) }}">行业新闻</a></li>
              <li><a href="{{ path('app_nodes_region', {regionLabel: 'xiaobao'}) }}">消保专栏</a></li>
            </ul>
          </li>
          <li><a href="{{ path('app_nodes_region', {regionLabel: 'zhaobiao'}) }}" class="{{ route_params['regionLabel'] == 'zhaobiao' ? 'active' }}">招标公告</a></li>
          <li><a href="{{ path('app_nodes_region', {regionLabel: 'dangjian'}) }}" class="{{ route_params['regionLabel'] == 'dangjian' ? 'active' }}">党建之窗</a></li>
          <li class="dropdown"><a href="{{ path('app_contact') }}" class="{{ route == 'app_contact' ? 'active' }}"><span>联系我们</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="{{ path('app_hire') }}">加入我们</a></li>
            </ul>
          </li>
          <li><a href="{{ path('app_info') }}" class="{{ route == 'app_info' ? 'active' }}">信息披露</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted d-none d-md-block" href="{{ path('app_feedback') }}">业务咨询</a>

    </div>
  </header>
